<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <br>
        <br>

        <div class="container portfolio" data-aos="fade-up">

            <div class="section-title">
                <h2>
                    <%= title %>
                </h2>
                <p class="featurette-heading">I design & build digital products.</p>
            </div>




            <div class="row featurette">
                <div class="col-md-7">
                    <br>
                    <br>
                    <!--<h2 class="featurette-heading ">I design & build digital products. <span class="text-muted">Checkmate.</span></h2>-->
                    <p class="lead mb-4 fw-bold"><span class="text-muted">Hi, I’m Adeyemi. I'm a multi-talented human with over 10+ years of experiences in wide range of design disciplines.</span></p>
                    <p class="lead mb-4">I specialize in creating sites for individuals and small businesses. You shouldn’t have to settle for cheap solutions or generic templates. I provide custom designs at afforable prices. Frequently, your website is the first impression
                        your customers will get, so make sure it’s a good one.
                    </p>
                    <p class="lead mb-4">I have worked on a multitude of web and print based projects for a range of clients providing Web Design (Photoshop, Illustrator, InDesign) and Development (HTML, CSS, JS, jQuery, WordPress, WooCommerce, Shopify, Bootstrap, Responsive
                        Layouts), eCommerce Solutions, Corporate Branding and Graphic Design.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="Assets/images/me.png" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false">

                </div>
            </div>

        </div>
        </br>
        </br>
        <!--Button-->
        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div> -->

        <!--old title-->
        <!-- <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p> -->

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>